html,body {
    text-align: center;
    background-color: #123859;
    color: white;
    font-family:Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    padding: 50px;
}

button{
    background-color: #F29441;
    font-size: 1.3rem;
    margin: 10px;
    padding: 10px;
}